Flask==3.0.3
yapf==0.3.1
SQLAlchemy==2.0.30
Flask-SQLAlchemy==3.1.1
psycopg2==2.9.9
Flask-Cors==4.0.1
connexion[flask] == 3.1.0
connexion[swagger-ui] == 3.1.0
connexion[uvicorn] == 3.1.0
python_dateutil == 2.9.0.post0
swagger-ui-bundle == 1.1.0
gunicorn==22.0.0
starlette==0.37.2
PyJWT==2.8.0