Flask==3.0.3
yapf==0.3.1
SQLAlchemy==2.0.30
Flask-SQLAlchemy==3.1.1
psycopg2==2.9.9
Flask-Cors==4.0.1
connexion[flask] >= 2.6.0
connexion[swagger-ui] >= 2.6.0
connexion[uvicorn] >= 2.6.0
python_dateutil >= 2.6.0
swagger-ui-bundle >= 0.0.2
gunicorn==22.0.0
starlette==0.37.2